@CHARSET "UTF-8";


body
{
	background-image: url("bgimg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

#demo
{
	width:430px;
	padding-right: 10px;
	font-size: 32px;
	font-weight:bold;
	margin:0 auto;
	border:3px solid rgba(0,0,0,0.3);
	text-align: right;
}

button
{
	opacity: 0.5;
	font-size:30px;
	height:100px;
	width:100px;
	margin:5px;
	border-radius: 15%;
}

button:hover
{
	    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}


#a
{
	border: 3px solid rgba(255,255,255,0.5);
	background-position: center;
	background-size: 100% 100%;
	text-align:center;
	margin:0 auto;
	width: 460px;
	height: 100%;
	padding:10px;

}
