@CHARSET "UTF-8";

#demo
{
	width:445px;
	font-size: 20px;
	font-weight:bold;
	text-align:center;
	margin:0 auto;
	border:2px solid gray;

}

button
{
	font-size:30px;
	height:100px;
	width:100px;
	margin:5px;
}

div
{
	text-align:center;
	margin:0 auto;
}
